html {
	font-family: sans-serif;
	
	&,
	body {
		margin: 0;
		padding: 0; 
		height: 100%;
	}
}
body {
	background-color: #f7f7f7;
	overflow: hidden;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
	border: 1px solid black;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
